*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6d6d6;
}

.pageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 15px 1px green;
    padding: 10px 20px;
    background-color: white;
}
a {
    color: rgb(75, 168, 75);
    text-decoration: none;
    margin-right: 6px;
    font-family: Arial;
    font-weight: bold;
}
.pageHeader > img {
    width: 45px;
}

.menuBtn {
    border: none;
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(75, 168, 75);
    display: none;

}

.show {
    transform: translateX(0) !important;
}

@media (max-width:768px) {
    .menuBtn {
        display: block;
    }
    .pageNav {
        position: fixed;
        min-height: 100vh;
        top: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 4px 0px 15px 1px green;
        display: flex;
        flex-direction: column;
        width: 240px;
        padding: 25px;
        transform: translateX(-250px);
        transition: 0.5s;
    }
    .pageNav > a {
        margin: 10px 0;
        border-bottom: 1px solid gray;
        padding-bottom: 8px;
    }
}